body {
  background-color: #555;
  color: white;
  text-align: center;
  font-family: Montserrat, Verdana, sans-serif;
  margin: auto;
}

h1 {
  font-weight: lighter;
  font-size: 50px;
  padding: 60px 0 40px 0;
  letter-spacing: 5px;
  margin: auto;
}

a:link,
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover,
a:active {
  color: #cc0000;
  text-decoration: underline;
}

section {
  display: flexbox;
  flex-direction: column;
  align-content: center;
  padding-bottom: 3rem;
}

footer {
  padding-top: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #555;
  width: 100%;
}

.footer-icons-container {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.footer-icon {
  width: 20px;
}
