body {
  background-color: #555;
  color: white;
  text-align: center;
  font-family: Montserrat, Verdana, sans-serif;
  margin: auto;
}

header {
  margin: 2rem auto;
}

h1 {
  font-weight: lighter;
  letter-spacing: 5px;
  margin: auto;
}

h2 {
  margin: auto;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

p {
  margin: auto;
  margin-top: 0.5rem;
}

a:link,
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover,
a:active {
  color: #cc0000;
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 2rem;
}

/* footer {
  padding-top: 25px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #555;
  width: 100%;
} */

.icons-container {
  margin-top: 0.5rem;
  margin-left: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50px;
}

.icon {
  width: 20px;
}

#photography {
  margin-top: 3rem;
  margin-bottom: 8rem;
}

hr {
  border: 0;
  margin-left: 20%;
  margin-right: 20%;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0)
  );
}

@media (min-width: 667px) {
  h1 {
    font-size: 50px;
  }
  #photography {
    margin-bottom: 5px;
  }
}
