body {
  background-color: #555;
  color: white;
  text-align: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 50px;
  padding: 60px 0 40px 0;
  letter-spacing: 5px;
}

a:link {
  color: white;
  font-size: 20px;
}

a:hover {
  color: blue;
}

a:visited {
  color: black;
}

.art .photography {
  display: flexbox;
  flex-direction: column;
  align-content: center;
  padding: 20px;
}

.photography {
  padding-top: 20px;
}

footer {
  padding-top: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
